@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.blog {
  margin-top: 80px;
  margin-bottom: 120px;

  .container {
    .blog-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .blog-filter {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 40px;

      .blog-filter-tags {
        display: flex;

        .blog-filter-tag {
          display: none;
          align-items: center;
          justify-content: center;
          color: $blue-text-color;
          border: 2px solid $blue-text-color;
          border-radius: 5px;
          padding: 8px 20px;
          height: 37px;
          box-sizing: border-box;
          font-size: 16px;
          margin-right: 15px;

          &.active {
            display: flex;
          }

          svg {
            margin-left: 8px;
            cursor: pointer;
          }
        }
      }

      .blog-filter-select {
        position: relative;

        .blog-filter-select-head {
          display: flex;
          align-items: center;
          font-size: 16px;
          justify-content: space-between;
          width: 148px;
          cursor: pointer;

          svg {
            margin-left: 8px;
            cursor: pointer;
          }
        }

        .blog-filter-select-body {
          position: absolute;
          display: none;
          z-index: 10;
          background: white;
        }

        &.open {
          .blog-filter-select-head {
            border-radius: 5px 5px 0 0;
            width: 257px;
            height: 45px;
            padding: 12px 23px;
            box-sizing: border-box;
            background: #b9d5fd;

            svg {
              margin-left: 14px;
              transform: rotate(180deg);
              transition: transform .2s;
            }
          }

          .blog-filter-select-body {
            box-sizing: border-box;
            display: block;
            padding: 12px 23px;
            border: 2px solid #b9d5fd;
            border-radius: 0 0 5px 5px;
            width: 257px;
            height: 235px;

            .blog-filter-select-item {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 14px;
              font-size: 16px;
              line-height: 130%;
              color: #bebebe;
              padding-top: 5px;
              padding-bottom: 5px;
              cursor: pointer;

              &.active {
                color: #071739;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .blog-articles {
      display: grid;
      grid-template-columns: repeat(4, 292px);
      row-gap: 40px;
      column-gap: 24px;
      margin-bottom: 60px;
    }

    .blog-pagination {
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination-pages {
        margin-left: 40px;
        margin-right: 40px;

        .pagination-page {
          font-size: 20px;
          line-height: 130%;
          text-align: center;
          padding: 10px;
          margin-right: 20px;
          cursor: pointer;

          &:last-child {
            margin-right: 0;
          }

          &.active {
            color: #b9d5fd;
          }
        }
      }

      .pagination-arrow {
        cursor: pointer;

        &.disabled {
          svg {
            display: none;

            &.pagination-arrow-disabled {
              display: inline;
            }
          }
        }

        .pagination-arrow-disabled {
          display: none;
        }
      }
    }
  }
}
