@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.footer {
  background-color: #B9D5FD;
  padding: 40px 0 54px 0;
  margin-top: auto;

  .container {
    .footer-menu {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        margin-right: 40px;

        span {
          color: $blue-text-color;
          font-size: 16px;
          font-family: 'Jost', sans-serif;

          span {
            font-weight: bold;
          }
        }
      }

      .footer-menu-navigation {
        ul {
          display: flex;
          list-style: none;

          li a {
            text-decoration: none;
            margin-right: 20px;
            font-size: 16px;
          }
        }
      }
    }

    .footer-infos {
      display: flex;
      margin-bottom: 6px;

      .footer-info {
        margin-right: 60px;
        max-width: 253px;

        .footer-info-title {
          font-weight: 500;
          font-size: 16px;
          color: $blue-text-color;
          margin-bottom: 10px;
        }

        .footer-info-text {
          font-size: 16px;
          line-height: 130%;
          text-decoration: none;
        }

        .button {
          margin-top: 10px;
          cursor: pointer;
        }

        .footer-info-socials {
          margin-top: 15px;

          a {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 12px;
          }
        }
      }
    }

    .footer-rights {
      font-size: 16px;
      color: $blue-text-color;
    }
  }
}


