.user-agreement {
  .container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    gap: 25px;

    .user-agreement-title {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 16px;
    }

    ul li {
      list-style: none;
      margin-bottom: 10px;
      margin-left: 5px;
    }
  }
}
